#to-do-list{
    border: 5px solid blue;
}

#calender{
    border: 5px solid red;
}

.task{
    background-color: lightblue;
    margin:0;
    padding:0;
}

.bubble{
    font-size: 14px;
    font-weight: bold;
}